{% block heading %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <li class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="logo" class="image_logo">
        <img src="https://cdn.dribbble.com/users/1056176/screenshots/3394642/r_v02_dribbble.gif?vid=1" alt="animated"></img>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/registered">People Registered</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </li>
</nav>
{% endblock %}