{% extends 'base.html' %}


{%block style%}
<style>
body {
  background-color: white;
}
.title_style{
  color: white;
  height: 100;
  background-color: grey;
  text-align: center;
  border : 5px black solid;
}
.main{
  width: 80%
  height:80%
}

footer {
  color: black;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
</style>
{% endblock %}

{%block body%}
    <h1 color="white" class="title_style">Register here</h1>
    <form action="/register_post" method="POST">
        <div>
            <label class="p">First Name</label>
            <input name="username" type="text" value="{{request.form.username}}">
        </div>
        <br>
        <div class="p">
            <label>Family Name</label>
            <input name="familyname" type ="text" value="{{request.form.famillyname}}">
        </div>
        <br>
        <div>
            <label>Age</label>
            <input name="age" type="number" value="{{request.form.age}}">
        </div>
        <br>
        <div>
            <label>Birthday</label>
            <input name="birthday" type="date" value="{{request.form.birthday}}">
        </div>
        <br>
        <div>
            <label>Hobby</label>
            <select name="hobbies_person_register">
                <option value="hobby">lose</option>
                <option value="Football">2ndplacve</option>
                <option value="Hockey">non</option>
                <option value="Coding">loser</option>
                {% for hobby in hobbies %}
                    <option value={{hobby}}>{{hobby}}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <div class="p">
            <label>Add new hobby:</label>
            <input name="new_hobby_person_register" type ="text" value="{{request.form.new_hobby_person_register}}">
        </div>
        <br>
        <div>
            <label>Email</label>
            <input name="email" type="email" value="{{request.form.email}}">
        </div>
        <br>
        <div>
            <label>Fake Password</label>
            <input name="password" type="password" value="{{request.form.password}}">
        </div>
        <br>
        <div class="file-upload-wrapper">
            <label>Upload A Picture of Yourself!</label>
            <input name="image" type="file" id="input-file-max-fs" class="file-upload" data-max-file-size="2M" value="{{request.form.profile_image}}"/>
        </div>
        <br>
        <button type="register_hobby">Register Now!</button>
    </form>
{% endblock %}