{% extends 'base.html' %}

{% block body %}
    <h1 class="text-align center" style="font-style italic">This is a list of all the people currently registered:</h1>
    <br>
    {% for name in name_data %}
        {% for family in name_family %}
            {% for age in name_age %}
                {% for birthday in name_birthday %}
                    {% for email in name_email %}
        <li class="list-group-item">
            {{registered}}
            {{family}}
            Age: {{age}},
            Born on the: {{birthday}}
            Email: {{email}}
        </li>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endblock %}